.login{
  position: relative;
  padding: 0;
  margin: 0;
  //background: url("https://cdn.jsdelivr.net/gh/ssaltedfish/image/weixin/91470579_p0.png") no-repeat;
  background: white;
  background-size: cover;
  width: 750px;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  &-card{
    width: 550px;
    height: 700px;
    align-items: center;
    text-align: center;
    box-shadow:  1px 1px 1px 2px #52555e;
  }
  &-title{
    height: 100px;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    line-height: 100px;
    padding-top: 20px;
  }
  &-content{
    padding-top: 50px;
    height: 480px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  &-other{
    margin-bottom: 10px;
  }
}
