.login-form{
  width: 500px;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  &-lable{
    --nutui-form-item-label-width: 150px;
    --nutui-cell-padding: 13px 10px;
    --nutui-form-item-label-text-align: left;
    --nutui-cell-background-color:transparent;
    --nutui-cell-group-background-color:transparent;
    --nutui-input-background-color:transparent;

  }
  &-footer{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    position: relative;

  }
  &-button{
     &-full{
       width: 475px;
       margin-bottom: 10px;
     }
    &-text{
      width: 100%;

     &-right{
       float: right;
       width: 150px;
       color: royalblue;
       font-size: 10px;

     }


    }
    &-other{
      width: 250px;
      color: royalblue;
      font-size: 14px;
    }
  }
}


